*{
  font-size: 14px;
  margin:0;
  padding:0;
}
s.city {
  float: left;
  margin: 5px;
  padding: 15px;
  max-width: 300px;
  height: 300px;
  border: 1px solid black;
} 
#contrasena, #usuario {
  width: 250px;
}
#form_login {
  float: right;
  margin: 5px;
  padding: 15px;
  max-width: 300px;
  height: auto;
  border: 1px solid black;
}
form.login {
  background: none repeat scroll 0 0 #F1F1F1;
  border: 1px solid #DDDDDD;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 20px;
  width: 278px;
}
form.login div {
  margin-bottom: 15px;
  overflow: hidden;
}
form.login div label {
  display: block;
  float: left;
  line-height: 25px;
}
form.login div input[type="text"], form.login div input[type="password"] {
  border: 2px solid #DCDCDC;
  float: right;
  padding: 4px;
}
form.login div input[type="submit"] {
  background: none repeat scroll 0 0 #DEDEDE;
  border: 2px solid #C6C6C6;
  float: right;
  font-weight: bold;
  padding: 4px 20px;
}
.error{
  color: red;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom: 180px; /* must be same height as the footer */
}
#footer {
  background-color:#eeeeee;
  border: 2px;
  font-color: black;
  border-color: red;
  font-size: 12;
  font-family: sans-serif;
  text-align:center;
}
/*#footer {
  background-color: black solid;
  padding: 5px;
  position: relative;
  margin-top: -250px; 
  height: 180px;
  clear:both;
  bottom:0;
  left:0;
}*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}
.nav navbar-nav {
  background-color: black solid;
}
#comentario {
    width: 200px;
}
#comentarioclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}